<!DOCTYPE html>

<head>

    <title>
        <%=data.title%>
    </title>

    <%- include('../partials/head'); %>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body id="body-pd">
    <section>
        <!-- Nav Bar -->
        <%- include('../partials/header'); %>
            <div class="container mt-2">
                <div class="container-fluid">
                    <div class="d-flex">
                        <button onclick="history.back()" class="align-self-center btn btn-light"><i
                                class="fa-solid fa-arrow-left fs-4"></i></button>
                        <h2 class="text-center m-auto">
                            <%= data.title %>
                        </h2>
                    </div>
                    <% if (data.msg) { %>
                        <div class="card border <%=  data.success === true ? 'border-success':'border-danger' %>">
                            <div class="card-body <%=  data.success === true ? 'text-success':'text-danger' %>">
                                <%= data.msg %>
                            </div>
                        </div>
                        <% } %>
                            <form action="/admin/testseries/<%= data.url %>" method="post" id="series-form">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="title" placeholder="Title" name="title"
                                        value="<%= data.TestSeries ? data.TestSeries.title : '' %>">
                                </div>
                                <div class="mb-3">
                                    <label for="desc" class="form-label">Description</label>
                                    <input type="text" class="form-control" id="desc" placeholder="Description"
                                        name="desc" value="<%= data.TestSeries ? data.TestSeries.desc : '' %>">
                                </div>
                                <div class="mb-3">
                                    <label for="totalTime" class="form-label">Total time</label>
                                    <input type="text" class="form-control" id="totalTime"
                                        placeholder="Total time in mins" name="totalTime"
                                        value="<%= data.TestSeries ? data.TestSeries.totalTime : '' %>">
                                </div>
                                <div class="mb-2">
                                    <label class="form-label" for="autoSizingSelect">Select Subject</label>
                                    <select class="form-select" id="autoSizingSelect" name="category">
                                        <% subjects.forEach(course=> { %>
                                            <!-- check if testseries exists -->
                                            <% if (data.TestSeries) { %>
                                                <!-- match the id with all the series id -->
                                                <% if (data.TestSeries.category.toString()===course._id.toString()) { %>
                                                    <option value="<%= course._id %>" class="text-primary"
                                                        selected="selected">
                                                        <%=course.title %>
                                                    </option>
                                                    <% return; %>
                                                        <% } %>
                                                            <% } %>
                                                                <option value="<%= course._id %>">
                                                                    <%= course.title %>
                                                                </option>
                                                                <% }) %>
                                    </select>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="hide" name="hidden" <%
                                        if(data.TestSeries && data.TestSeries.hidden) {%> checked <%}%> >
                                        <label class="form-check-label" for="hide">hide from course?</label>
                                </div>
                                <input type="submit" value="<%-data.submitBtn %>" class="btn btn-primary">
                            </form>
                </div>
            </div>
    </section>
    <%- include('../partials/footer'); %>
    <script>

        </script>
</body>

</html>


<!-- quill.root.innerHTML.split(' ').join(' &nbsp;') -->