<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= data.title %>
    </title>
    <%- include('../partials/head'); %>
        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body id="body-pd">

    <!-- Nav Bar -->
    <%- include('../partials/header'); %>
        <div class="container mt-2">
            <div class="container-fluid">
                <div class="d-flex">
                    <button onclick="history.back()" class="align-self-center btn btn-light"><i
                            class="fa-solid fa-arrow-left fs-4"></i></button>
                    <h2 class="text-center m-auto fs-2 fw-bold">
                        <%= TestSeries ? `${TestSeries.title} ${data.title}`: `All ${data.title}` %>
                    </h2>
                    <a href="/admin/Question/create" class="align-self-center btn btn-primary">Add Question</a>
                </div>
                <!-- table data -->
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Sr No.</th>
                            <th scope="col">Question</th>
                            <th scope="col">Test Series</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% questions.forEach((e, index)=> { %>
                            <tr>
                                <td scope="row">
                                    <p style="font-weight: bold;">
                                        <%=index+1%>
                                    </p>
                                </td>
                                <td scope="row">
                                    <p style="font-weight: bold;">
                                        <%-e.title%>
                                    </p>
                                </td>
                                <td scope="row">
                                    <%= TestSeries ? TestSeries.title : '' %>
                                </td>
                                <td class="text-start">
                                    <div class="d-flex gap-1">
                                        <button
                                            onclick="viewmodal(`<%=e.title%>`,`<%=e.correctAnswer%>`,`<%=e.incorrectOptions%>`,`<%=e.explaination%>`,`<%= e.hidden %>`,`<%= e.updatedAt %>`)"
                                            class="btn btn-outline-dark" data-bs-toggle="modal"
                                            data-bs-target="#seriesModal"><i class="fa-solid fa-eye"></i></button>
                                        <a href="/admin/question/edit/<%= e._id %>" class="btn btn-outline-primary"><i
                                                class="fa-solid fa-pencil"></i></a>
                                        <!-- delete test series TODO: change output -->
                                        <a href="/admin/question/delete/<%= e._id %>" class="btn btn-outline-danger"><i
                                                class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <!-- view modal -->
                <div class="modal fade" id="seriesModal" tabindex="-1" aria-labelledby="seriesModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Test series detail</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row my-1">
                                    <div class="col-6 fw-bold">Title:</div>
                                    <div class="col-6" id="title">demo</div>
                                </div>
                                <hr />
                                <div class="row my-1">
                                    <div class="col-6 fw-bold">Correct Answer:</div>
                                    <div class="col-6" id="correct">demo</div>
                                </div>
                                <hr />
                                <div class="row my-1">
                                    <div class="col-6 fw-bold">Incorrect Answer:</div>
                                    <div class="col-6" id="incorrect">demo</div>
                                </div>
                                <hr />
                                <div class="row my-1">
                                    <div class="col-6 fw-bold">Explaination: </div>
                                    <div class="col-6" id="explaination">demo</div>
                                </div>
                                <hr />
                                <div class="row my-1">
                                    <div class="col-6 fw-bold">Hidden:</div>
                                    <div class="col-6" id="hidden">demo</div>
                                </div>
                                <hr />
                                <div class="row my-1">
                                    <div class="col-6 fw-bold">updatedAt: </div>
                                    <div class="col-6" id="updatetime">demo</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal end -->
            </div>
        </div>

        <%- include('../partials/footer'); %>
            <script>

                function viewmodal(title, correct, incorrect, explaination, hidden, updatetime) {
                    $('#title').html(title);
                    $('#correct').html(correct);
                    $('#incorrect').html(incorrect);
                    $('#explaination').html(explaination);
                    $('#hidden').text(hidden);
                    $('#updatetime').text(updatetime);
                }
                // function viewmodal(title, correct, incorrect, explaination, hidden, updatetime) {
                //     $('#title').html(title);
                //     $('#correct').html(correct);
                //     $('#desc').html(incorrect);
                //     $('#explaination').html(explaination);
                //     $('#hidden').text(hidden);
                //     $('#updatetime').text(updatetime);
                // }
            </script>
</body>

</html>